body {
    background-color: pink;
    background-image: url("background1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color: #565b63;
    margin: 0;
    padding: 0;
    font-family: 'Fredericka the Great', cursive;

}

.app-header {
    background: #bfb8c6;
    margin: 0;
    padding: 20px;
    height: 140px;
}

.content {
    padding: 0;
    margin: 0 auto;
    max-width: 50%;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0 auto;
    text-align: center;
}

.form-inputs {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.registration-form,
.login-form {
    /* width: 50%; */
    text-align: center;
    margin: 2%;
}

.form-element {
    padding: 10px 20px;
    margin: 5px;
    width: 500px;
    text-align: center;
}

.form-btn {
    padding: 10px 65px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: #f7f035;
    text-align: center;
}

.welcome-h1 {
    margin: 2% auto;
    text-align: center;
}

.logo {
    margin: 5% auto;
    text-align: center;
    max-width: 90%;
    border-radius: 5px;
}

.logo-small {
    max-width: 200px;
}

.login {
    margin: 0 auto;
}

.app-header {
    display: flex;
    flex-direction: row;
}

.profile-pic-small {
    width: 150px;
    height: 150px;
}

.img-circle {
    border: 1px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.app-logo {
}

.app-logo img {
    border-radius: 7px;
    width: 30%;
    margin-top: 2px;
}

.profile-content {
    width: 700px;
    height: auto;
    border: 1px solid black;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
}

.profile-content {
    display: flex;
}

.profile-pic-big {
    width: 400px;
}

.profile-info {
    padding-left: 20px;
}

.textarea {
    border: 1px solid black;
    padding: 20px 60px;
    background-color: white;
}
