body {
     background-color: pink;
    /* color: white;  */
}

.content {
    padding: 0;
    margin: 0 auto;
    max-width: 50%;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0 auto;
    text-align: center;
}

.form-inputs {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.registration-form, .login-form {
    /* width: 50%; */
    text-align: center;
    margin: 2%;
}

.form-element {
    padding: 10px 20px;
    margin: 5px;
    width: 600px;
    text-align: center;
}

.form-btn {
    padding: 10px 65px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: #F7F035;
    text-align: center;
}

.welcome-h1 {
    margin: 2% auto;
    text-align: center;
}

.logo {
    margin: 5% auto;
    text-align: center;
    max-width: 90%;
}

.logo-small {
    max-width: 50%;
}

.login {
    margin: 0 auto;
}

.profile-pic {
    font-size: 20px;
}
